body, main{
    display: flex;
}

body {
    flex-direction: column;
    background-color: rgb(93, 151, 93);
}

main {
    flex-direction: row;
    flex: auto;
    background-color: burlywood;
}

article, aside {
    overflow-y: auto;
    text-align: center;

}

article {
    flex: 2;
    background-color: cadetblue;
}

aside {
    flex: 1;
}

@property --box-color {
    syntax: "<color>";
    inherits: false;
    initial-value: cornflowerblue;
  }
  
  .parent {
    --box-color: green;
    background-color: var(--box-color);
  }
  
  .child {
    width: 80%;
    height: 40%;
    background-color: var(--box-color);
  }
  